
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1170px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

@media only screen and (min-width: 1170px) {
  .cd-section {
    height: 100vh;
  }
}

.cd-block, .cd-half-block {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-block {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.cd-section:first-of-type .cd-block {
  visibility: visible;
  height: 100vh;
  background-color: #fff;
}
@media only screen and (min-width: 1170px) {
  .cd-block {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    visibility: hidden;
  }
  .cd-section:first-of-type .cd-block {
    visibility: visible;
  }
  .cd-block > * {
    visibility: visible;
  }
}

.cd-half-block {
  background: #ffffff;
  color: #263b40;
  position: relative;
}
.bg-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cd-half-block:nth-of-type(1) {
  height: 60vh;
  background-color: #263b40;
  background-position: center center;
  background-repeat: no-repeat;
}
.cd-half-block:nth-of-type(2) {
  padding: 4em 10%;
}
.cd-half-block h2 {
  text-align:left;
  padding-bottom:30px;
}
.cd-half-block p {
  text-align:left;
}

.cd-half-block h2 span{
}

.cd-section:nth-of-type(2) .cd-half-block:first-of-type {
  background-size: cover;
}
.cd-section:nth-of-type(3) .cd-half-block:first-of-type {
  background-size: cover;
}
.cd-section:nth-of-type(4) .cd-half-block:first-of-type {
  background-size: cover;
}
.cd-section:nth-of-type(5) .cd-half-block:first-of-type {
  background-size: cover;
}
@media only screen and (min-width: 1170px) {
  .cd-half-block {
    height: 100vh !important;
    width: 50%;
    position: absolute;
    top: 0;
  }
  .cd-half-block .block-text{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    padding: 0 25%;
  }
  .cd-section:nth-of-type(even) .cd-half-block:first-of-type, .cd-section:nth-of-type(odd) .cd-half-block:nth-of-type(2) {
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .cd-section:nth-of-type(odd) .cd-half-block:first-of-type, .cd-section:nth-of-type(even) .cd-half-block:nth-of-type(2) {
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}


.cd-half-block-blog h3 span{
}
.cd-section-blog:nth-of-type(2) .cd-half-block-blog:first-of-type {  
  background-size: cover;
}
.cd-section-blog:nth-of-type(3) .cd-half-block-blog:first-of-type {  
  background-size: cover;
}
.cd-section-blog:nth-of-type(4) .cd-half-block-blog:first-of-type {  
  background-size: cover;
}
.cd-section-blog:nth-of-type(5) .cd-half-block-blog:first-of-type {
  background-size: cover;
}
@media only screen and (min-width: 1170px) {
  .cd-half-block-blog {
    height: 100vh !important;
    width: 50%;
    position: absolute;
    top: 0;
  }
  .cd-half-block-blog .block-text-blog{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    padding: 0 25%;
  }
  .cd-section-blog:nth-of-type(even) .cd-half-block-blog:first-of-type, .cd-section-blog:nth-of-type(odd) .cd-half-block-blog:nth-of-type(2) {
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .cd-section-blog:nth-of-type(odd) .cd-half-block-blog:first-of-type, .cd-section-blog:nth-of-type(even) .cd-half-block-blog:nth-of-type(2) {
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}


.block-text .contact-details p,
.block-text .contact-details h6{ 
  text-align:left;
}
.block-text .contact-details.padding-contact{ 
  padding-bottom:30px;
}


/*editable */

html, body, div {
   margin: 0;
   padding: 0;
   border: 0;
}
section {
   background: #fff;
   position: relative;
}
.canvas section, .cd-section-blog {
   background: transparent;
}
.section section, .canvas section {
   position: static;
}
html {
   overflow-x:hidden; 
   height:100%;
}
